<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Reading</string>
	<string>Sports/Exercising</string>
	<string>Travel/Exploring</string>
	<string>Music</string>
	<string>Movies</string>
	<string>Hiking</string>
	<string>Dancing</string>
	<string>Sightseeing/Culture/People Watching</string>
	<string>Eating Out</string>
	<string>Bars and Lounges</string>
	<string>Arts</string>
	<string>Comedy</string>
	<string>Shooting/Guns</string>
	<string>People Watching</string>
	<string>Cafes</string>
</array>
</plist>
